.brand-info
	.brand-info__tablet
		.brand__logo
			img(src=`i/brands/puky.jpg` alt="Лого бренда").brand__img
	.brand__description
		p.text <b>PUKY</b> - немецкие беговелы, велосипеды и самокаты высочайшего качества для детей. PUKY - лидер по надежности и безопасности детского транспорта.
		p.text Транспорт PUKY разрабатывается, конструируется и произодится только в Германии из европейских комплектующих. Это хорошо продуманная концепция, гарантирующая высокое качество продукции.
		p.text Компания PUKY основана в 1949 году, в Дюссельдорфе, а с 1960 года завод PUKY располагается в городе Вюльфрат, Германия. PUKY - это не только высокое качество продукции, но и продуманные до мелочей дизайн и эргономика, максимально комфортные для детей. Беговелы и велосипеды PUKY идеальны для первого катания, поскольку учиться кататься очень легко и удобно.
	.brand__certificates
		span.brand__certificates-label Сертификаты соответствия:
		.brand__sertificate
			img(src="i/certificate.jpeg" alt="Сертификат").brand__certificate-img