.main-nav__dropdown-wrapper
	.main-nav__dropdown
		ul.catalog-nav__list
			li.catalog-nav__item
				a(href="").catalog-nav__link 
					span.catalog-nav__text Большие
			li.catalog-nav__item
				a(href="").catalog-nav__link 
					span.catalog-nav__text Детские
			li.catalog-nav__item
				a(href="").catalog-nav__link 
					span.catalog-nav__text Для взрослых
			li.catalog-nav__item
				a(href="").catalog-nav__link 
					span.catalog-nav__text Для дачи
			li.catalog-nav__item
				a(href="").catalog-nav__link 
					span.catalog-nav__text Для дома
			li.catalog-nav__item
				a(href="").catalog-nav__link 
					span.catalog-nav__text Для улицы
			li.catalog-nav__item
				a(href="").catalog-nav__link 
					span.catalog-nav__text Карскасные
			li.catalog-nav__item
				a(href="").catalog-nav__link 
					span.catalog-nav__text Мини-батуты
			li.catalog-nav__item
				a(href="").catalog-nav__link 
					span.catalog-nav__text С сеткой
			li.catalog-nav__item
				a(href="").catalog-nav__link 
					span.catalog-nav__text Складные
			li.catalog-nav__item
				a(href="").catalog-nav__link 
					span.catalog-nav__text Спортивные
			li.catalog-nav__item
				a(href="").catalog-nav__link 
					span.catalog-nav__text Фитнес батуты														