.main-nav__dropdown-wrapper
	.main-nav__dropdown
		ul.catalog-nav__list
			li.catalog-nav__item
				a(href="").catalog-nav__link 
					span.catalog-nav__text Трехколесные
			li.catalog-nav__item
				a(href="").catalog-nav__link 
					span.catalog-nav__text Двухколесные
			li.catalog-nav__item
				a(href="").catalog-nav__link 
					span.catalog-nav__text Велосипеды-коляски
			li.catalog-nav__item
				a(href="").catalog-nav__link 
					span.catalog-nav__text Скоростные
			li.catalog-nav__item
				a(href="").catalog-nav__link 
					span.catalog-nav__text Трансформеры
			li.catalog-nav__item
				a(href="").catalog-nav__link 
					span.catalog-nav__text Четырехколесные