.main-nav__dropdown-wrapper
	.main-nav__dropdown
		ul.catalog-nav__list
			li.catalog-nav__list
				a(href="").catalog-nav__link 
					span.catalog-nav__text Беговелы 2 в 1
			li.catalog-nav__item
				a(href="").catalog-nav__link 
					span.catalog-nav__text Беговелы-каталки
			li.catalog-nav__item
				a(href="").catalog-nav__link 
					span.catalog-nav__text Беговелы-самокаты
			li.catalog-nav__item
				a(href="").catalog-nav__link 
					span.catalog-nav__text Спортивные