.product-slider
	.product-slider-dots
		.product-slider-dots__btn.product-slider-dots__btn--prev
			+icon('drop-down-arrow','product-slider-dots__btn-icon')
		.js-product-slider-dots
			.product-slider-dots__item
				img(src="i/product/product1.jpg" alt="Превью продукта").product-slider-dots__img
			.product-slider-dots__item
				img(src="i/product/product2.jpg" alt="Превью продукта").product-slider-dots__img
			.product-slider-dots__item
				img(src="i/product/product3.jpg" alt="Превью продукта").product-slider-dots__img
			.product-slider-dots__item
				img(src="i/product/product4.jpg" alt="Превью продукта").product-slider-dots__img
			.product-slider-dots__item
				img(src="i/product/product5.jpg" alt="Превью продукта").product-slider-dots__img
			.product-slider-dots__item
				img(src="i/product/product6.jpg" alt="Превью продукта").product-slider-dots__img
		.product-slider-dots__btn.product-slider-dots__btn--next
			+icon('drop-down-arrow','product-slider-dots__btn-icon')
	.js-product-slider
		.product-slider__img-wrapper
			img(src="i/product/product1.jpg" alt="Изображение продукта").product-slider__img
		.product-slider__img-wrapper
			img(src="i/product/product2.jpg" alt="Изображение продукта").product-slider__img
		.product-slider__img-wrapper
			img(src="i/product/product3.jpg" alt="Изображение продукта").product-slider__img
		.product-slider__img-wrapper
			img(src="i/product/product4.jpg" alt="Изображение продукта").product-slider__img
		.product-slider__img-wrapper
			img(src="i/product/product5.jpg" alt="Изображение продукта").product-slider__img
		.product-slider__img-wrapper
			img(src="i/product/product6.jpg" alt="Изображение продукта").product-slider__img