.products-line-slider
	.js-products-line-slider
		include ../../../modules/products/prev-5
		include ../../../modules/products/prev-6
		include ../../../modules/products/prev-7
		include ../../../modules/products/prev-8