.products-line-slider
	.js-products-line-slider
		include ../../../modules/products/prev-9
		include ../../../modules/products/prev-10
		include ../../../modules/products/prev-11
		include ../../../modules/products/prev-12