.product-prev
	.product-prev__header
		.js-product-prev__slider
			.product-prev__img-wrapper(data-color="#000000")
				img(src="i/scooter2.jpg" alt="Изображение товара").product-prev__img
			.product-prev__img-wrapper(data-color="#0000FF")
				img(src="i/scooter2-blue.jpg" alt="Изображение товара").product-prev__img
			.product-prev__img-wrapper(data-color="#7A0045")
				img(src="i/scooter2-pink.jpg" alt="Изображение товара").product-prev__img
			.product-prev__img-wrapper(data-color="#8FC63D")
				img(src="i/scooter2-green.jpg" alt="Изображение товара").product-prev__img
			.product-prev__img-wrapper(data-color="#FF0000")
				img(src="i/scooter2-red.jpg" alt="Изображение товара").product-prev__img
			.product-prev__img-wrapper(data-color="#F5999D")
				img(src="i/scooter2-pink2.jpg" alt="Изображение товара").product-prev__img
	.product-prev__body
		.product-prev__info
			span.product-prev__title Самокат Globber Flow 125 Lights (светящиеся колеса)
			span.product-prev__country Франция
		.product-prev__price
			span.product-prev__price-current 4 990 руб.
			span.product-prev__price-old 6 600 руб.
		.product-prev__colors
	.product-prev__footer
		button.btn В корзину