.product-prev
	.product-prev__header
		.js-product-prev__slider
			.product-prev__img-wrapper(data-color="#6CCFF7")
				img(src="i/rolls.jpg" alt="Изображение товара").product-prev__img
	.product-prev__body
		.product-prev__info
			span.product-prev__title Ролики-квады Hudora Disco Skate Wonders
			span.product-prev__country США
		.product-prev__price
			span.product-prev__price-current 4 100 руб.
			span.product-prev__price-old
		.product-prev__colors
	.product-prev__footer
		button.btn В корзину