.product-prev
	.product-prev__header
		.js-product-prev__slider
			.product-prev__img-wrapper(data-color="#D95B1F")
				img(src="i/scooterrr-orange.jpg" alt="Изображение товара").product-prev__img
			.product-prev__img-wrapper(data-color="#8DD4F8")
				img(src="i/scooterrr-blue.jpg" alt="Изображение товара").product-prev__img
			.product-prev__img-wrapper(data-color="#E68F93")
				img(src="i/scooterrr-pink.jpg" alt="Изображение товара").product-prev__img
	.product-prev__body
		.product-prev__info
			span.product-prev__title Самокат Smiley Maxi складной
			span.product-prev__country Россия
		.product-prev__price
			span.product-prev__price-current 1 990 руб.
			span.product-prev__price-old 2 990 руб.
		.product-prev__colors
	.product-prev__footer
		button.btn В корзину