// Colors
$white: #ffffff;
$black: #000000;
$athens-gray: #eef2f4;
$tundora: #4b4b4b;
$silver-chalice: #a9a9a9;
$blaze-orange: #ff6d00;
$wild-sand: #f6f6f6;
$mine-shaft: #262626;
$silver: #cccccc;
$alto: #dddddd;
$gray: #a6a6a6;
$mid-gray: #6e6e6f;
$dusty-gray: #999999;
$parcelain: #f6f8f9;
$oslo-gray: #939495;
$chelsea-cucumber: #8eb359;
$dark-gray: #E2E6E8;
$light-gray: #cccccc;
$vida-loca: #48a216;
$blue-dark: #5D7997;

$corporate-color: $mine-shaft;
$main-color: $white;
$second-color: $black;
$header-top-color: $athens-gray;
$nav-menu-color: $tundora;
$data-color: $silver-chalice;
$main-company-color: $blaze-orange;
$button-color: $wild-sand;
$color-icon: $silver;
$form-color: $alto;
$placeholder-color: $gray;
$advantage-color: $mid-gray;
$icon-color: $dusty-gray;
$block-color: $parcelain;
$date-color: $oslo-gray;
$count-color: $chelsea-cucumber;
$footer-bottom: $dark-gray;
$border-color: $light-gray;
$product-quantity: $vida-loca;
$hover-color: $blue-dark;

// Sizes
$base-font-size: 14px;
$content-size: 1140px;
$tablet-size: 1139px;
$phone-size: 767px;
$phone-small-size: 400px;


// Fonts

$main-font: 'open_sansregular', 'Arial',sans-serif;
$second-font: oswaldbold, sans-serif;
$third-font: open_sanslight, sans-serif;